/* footer */

#footer{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}

#footer .subscribe{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
    border-bottom: 1px solid #dbdbdb;
}

#footer .subscribe p{
    font-size: 15px;
    opacity: .8;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer .subscribe p i{
    font-size: 46px;
    opacity: .8;
    margin-right: 10px;
}

#footer .subscribe form{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#footer .subscribe form input{
    margin-bottom: 0;
}

#footer .subscribe form button{
    background: #b70000;
    color: #fff;
    height: 50px;
}

.footer-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-container .footer-item{
    font-size: 20px;
    color: #000;
    width: 350px;
    margin: 10px;
    padding: 30px 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
}

.footer-item .logo{
    width: 250px;
    height: 100px;
    margin-bottom: 20px;
}

.footer-item p{
    font-size: 15px;
}

.footer-item .address{
    margin-top: 20px;
}

.footer-item .address p{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
}

.address span{
    font-weight: 700;
}

.footer-item button{
    border: 1px solid #b70000;
    color: #b70000;
    margin-top: 20px;
    width: 50%;
}

.footer-item.time{
    align-items: center;
    justify-content: center;
}

.footer-item.time p{
    padding: 10px 5px;
    line-height: 15px;
}

.footer-item .quick-links{
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #dbdbdb;
    margin-top: 10px;
    padding-top: 20px;
}

.footer-item .quick-links a{
    font-size: 16px;
    width: 50%;
    padding: 5px 15px;
    text-align: center;
    color: #383838;
    text-decoration: none;
}

.footer-small{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    border-top: 1px solid #dbdbdb;
}

.footer-small .about{
    font-size: 12px;
    text-align: center;
}

.footer-small .media-icons{
    font-size: 25px;
}
