@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}


input,
select,
textarea{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background: #fff;
    color: #383838;
    border: none;
    outline: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

select{
    -moz-appearance: none;
    -webkit-appearance: none;
}
body{
    width: 100%;
}

/* hero section */

#hero{
    height: 100vh;
    width: 100%;
    position: relative;
}

#hero .slider{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.bg-img{
    background-image: url(../img/hero/1.jpg);
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -9;
    background-position: top 20% right 0;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.bg-img.sec{
    background-image: url(../img/hero/2.jpg);
    background-position: top 45% right 0%;
}

.slider .content{
    padding: 20px;
    background-color: rgba(0,0,0, 0.4);
}

#hero h1{
    width: 60%;
    line-height: 80px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 50px;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    color: rgb(237 240 249);
}

#hero p{
    color: #fff;
    font-style: oblique;
}

/* service section */

.services{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
}

.service-header{
    text-align: center;
    justify-content: center;
    color: #06163a;
    font-size: 28px;
    padding: 0 10vw 10vh;
}

.service-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.service-item{
    background: #f8f8f8;
    font-size: 20px;
    color: #000;
    height: 300px;
    width: 350px;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 41% 59% 45% 55% / 64% 22% 78% 36% ;
}

.service-item img{
    width: 60px;
    height: 60px;
}

.service-item h2{
    font-size: 28px;
    font-weight: 400;
}
.service-item p{
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    padding: 20px;
    text-align: center;
}

/* call back section */
.call-back{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
    background: #f8f8f8;
    width: 100%;
}

.call-back-heading{
    display: flex;
    flex-direction: column;
    padding: 0 30px; 
}

.call-back-heading h2{
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 10px;
}

.call-back-heading p{
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.call-back-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 50px;
    padding: 20px 0;
}

.call-back-icon{
    width: 100%;
}

.call-back-icon img{
    width: 100%;
    opacity: .7;
}

.call-back-container form{
    width: 100%;
    padding: 20px;
}

.call-back-container form button{
    background: #b70000;
    color: #fff;
    line-height: 25px;
}

/* Banner */

.banner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px 80px;
    background: #b70000;  
}

.banner-container{
    width: 350px;
    height: 300px;
    margin: 0 20px;
    position: relative;
    color: #fff;
}

.banner-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/icons/continents-of-earth.png);
    background-position: top 50% left 50%;
    background-size: cover;
    opacity: .2;
    background-repeat: no-repeat;
}

.banner-bg.sec{
    background-image: url(../img/icons/testimonials.png);
    background-size: 60%;
    
}

.banner-bg.thd{
    background-image: url(../img/icons/success.png);
    background-size: 60%;
}

.banner-item{
    position: absolute;
    top: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    opacity: .8;
}

.banner-item i{
    font-size: 40px;
    margin-bottom: 20px;
}

.banner-item h3{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px;
}

.banner-item p{
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
}

.banner-item a{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
    letter-spacing: 2px;
}

/* About us page */

.about-header{
    background-image: url(../img/hero/3.jpg);
    background-size: cover;
    background-position: top 50% left 50%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 80px;
}

.about-header h1{
    font-size: 70px;
    color: #fff;
    margin-bottom: 30px;
}

.about-header p{
    font-size: 18px;
    color: #f8f8f8;
    position: relative;
}

.about-header p::before{
    content: '';
    position: absolute;
    width: 20%;
    height: 2px;
    left: 50%;
    margin: auto;
    border-radius: 1px;
    top: -10px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.about-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about-container .about-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 80px;
}

.about-container .about-heading h2{
    font-size: 44px;
    font-weight: 600;
    color: #383838;
    padding: 30px;
}

.about-container .about-heading p{
    font-size: 22px;
    color: #383838;
    padding: 30px 50px;
    text-align: center;
    line-height: 30px;
}

.main-about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    padding: 50px 50px 0 50px;
}

.main-about .main-item{
    height: 615px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    color: #ffffff;
    position: relative;
}

.main-item h2{
    font-size: 44px;
    font-weight: 600;
    padding-bottom: 50px;
}

.main-item p{
    font-size: 22px;
    text-align: center;
    line-height: 30px;
    padding: 40px 60px 60px 60px;
}

.main-item .bg{
    background: url(../img/hero/2.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top 50% left 70%;
    z-index: -9;
    filter: blur(1px);
}

.main-item .bg-text{
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    width: 100%;
    text-align: center;
}

.main-about .sec{
    top: -100px;
    background: #b70000;
}

.main-about .thd{
    top: -100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #b70000;
}

.main-about .thd h3{
    grid-column: span 2;
    text-align: center;
    font-size: 44px;
    padding: 40px 20px;
}

.main-about .thd p{
    color: #383838;
}

.main-about .fth{
    background: url(../img/hero/3.jpg);
    background-size: cover;
    background-position: top 50% left 40%;
    top: -200px !important;
    height: 715px !important;
    z-index: -9;
}

.call-back .textarea{
    resize: none;
    height: 150px;
}

.call-back.bg{
    color: #f8f8f8;
    background: #06163a;
}

.call-back-icon.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.call-back-icon.about p{
    padding: 10px;
    line-height: 20px;
}

.call-back-icon.about a{
    font-weight: 600;
    color: #fff;
}

.about-container .about-note{
    display: grid;
    grid-template-columns: .50fr 1.50fr;
    background: #f8f8f8;
    width: 100%;
    padding: 0 80px 30px 80px;
}

.about-note-ceo{
    float: right;
    padding: 20px;
}

.about-note-ceo h5{
    font-size: 14px;
    margin-top: 10px;
}

.about-note-ceo h3{
    font-size: 28px;
    font-weight: 500px;
    padding: 10px 0;
}

.about-note-ceo p{
    font-style: italic;
    font-size: 15px;
}

.about-note-ceo img{
    width: 100%;
    height: 200px;
}

.about-note-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.about-note-item{
    width: 50%;
    padding: 20px;
}

.about-note-item p{
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 15px;
    padding-bottom: 10px;
}

.about-note-item a{
    display: block;
    background: #b70000;
    width: 50%;
    padding: 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 10px;
    opacity: .7;
}

.about-note-item a:hover{
    opacity: 1;
}

/* contact page */

.contact-header{
    background-image: url(../img/hero/1.jpg);
    background-size: cover;
    background-position: top 50% left 50%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 80px;
}

.contact-header h1{
    font-size: 70px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.contact-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 80px;
}

.contact-container p{
    font-size: 22px;
    padding: 10px;
    text-align: center;
    line-height: 30px;
}

.contact-body{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-body form{
    padding: 40px 10px;
}

.contact-body form .name-mail{
    width: 100%;
    display: flex;
}

.contact-body form .name-mail input:not(.name){
    margin-left: 10px;
}

.contact-body form textarea{
    resize: none;
    height: 150px;
}

.contact-body form button{
    border: 1px solid #b70000;
    opacity: .7;
}

.contact-body .contact-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
}

.contact-body .contact-item .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.contact-body .contact-item .icon img{
    height: 170px;
}

.contact-body .contact-item .address{
    text-align: center;
    border-top: 1px solid #383838;
    padding-top: 20px;
}

.contact-body .contact-item .address p{
    font-size: 17px;
    line-height: 20px;
}

.contact-body .contact-item .address a{
    font-weight: 700;
}

.map-frame{
    height: 450px;
    width: 100%;
    display: flex;
}

.map-frame iframe{
    width: 100%;
    height: 100%;
}

/* About us page */

.services-header{
    background-image: url(../img/hero/3.jpg);
    background-size: cover;
    background-position: top 50% left 50%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 80px;
}

.services-header h1{
    font-size: 70px;
    color: #fff;
    margin-bottom: 30px;
}

.services-header p{
    font-size: 18px;
    color: #f8f8f8;
    position: relative;
}

.services-header p::before{
    content: '';
    position: absolute;
    width: 20%;
    height: 2px;
    left: 50%;
    margin: auto;
    border-radius: 1px;
    top: -10px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.call-back.ser{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
}

.call-serv{
    line-height: 50px;
}

.call-back.ser .call-serv h1{
    font-size: 44px;
}

.call-back.ser .call-serv p{
    font-size: 20px;
}

.call-back.ser a{
    background: #fff;
    color: #06163a;
    font-weight: 600;
    padding: 20px;
    border-radius: 7px;
    text-decoration: none;
}

.services-container{
    display: flex;
    width: 100%;
    padding: 60px;
    flex-direction: column;
    flex-wrap: wrap;
}

.services-container h4{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.services-container .core-item-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.core-item-container .core-item{
    width: 300px;
}

.core-item img{
    width: 70px;
    height: 70px;
}

.core-item-container .core-item h2{
    font-size: 28px;
    color: #06163a;
    padding: 20px 0;
}

.core-item-container .core-item p{
    font-size: 15px;
    color: #383838;
    padding-bottom: 15px;
}

.core-item-container .core-item ul{
    font-size: 15px;
    color: #383838;
    padding-bottom: 15px;
    margin: 0 1.5em 0.5em;
    line-height: 20px;
}


@media (max-width: 996px){
    /* hero */
    #hero h1{
        font-size: 40px;
        line-height: normal;
    }

    /* footer */

    
    #footer .subscribe {
        flex-direction: column;
    }

    .footer-container{
        flex-direction: column-reverse;
        flex-wrap: nowrap !important;
    }

    .footer-container .footer-item {
        width: 100% !important;
    }

    .footer-small {
        justify-content: center;
        flex-direction: column-reverse;
        padding: 20px 0 !important;
    }

    
    /* about page */

    .main-about {
        display: flex;
        flex-direction: column;
    }

    .main-about .sec {
        top: 0;
    }

    .main-about .thd {
        top: 0;
        height: 100%;
    }

    .main-about .fth {
        top: 0 !important;
    }

    .about-container .about-note-container {
        display: flex;
    }

    .about-note-item {
        width: 100%;
    }

    /* contact page */

    .contact-body {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /* services page */
    .call-serv{
        line-height: normal;
    }
    .call-back.ser {
        padding: 20px;
    }
}

@media (max-width: 500px){
    /* index */
    .services{
        padding: 0;
    }

    .call-back{
        padding: 50px 20px;
    }

    .call-back-container{
        display: flex;
        flex-direction: column;
        grid-gap: 0;
    }

    .call-back-heading h2{
        font-size: 34px;
    }

    .call-back-icon{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .call-back-icon img{
        height: 50px;
        width: 50px;
    }
    
    .banner{
        padding: 30px;
    }

    #footer .subscribe form {
        display: flex;
        width: 100% !important;
        flex-direction: column;
    }

    #footer .subscribe form input {
        margin-bottom: 20px !important;
    }

    /* about page */
    .main-about{
        padding: 10px;
    }

    .about-header h1{
        font-size: 40px;
    }

    .about-header p{
        font-size: 13px;
        text-align: center;
    }

    .about-container .about-heading h2 {
        font-size: 30px;
    }

    .about-container .about-heading p {
        font-size: 18px;
        padding: 30px;
    }

    .about-container .about-heading{
        padding: 0;
    }
    .about-container .about-note{
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    /* contact page */

    
    .contact-header h1 {
        font-size: 30px;
    }

    .contact-container {
        padding: 20px;
    }

    .contact-body .contact-item {
        padding: 0;
    }

    .contact-body .contact-item .icon {
        flex-direction: column;
    }

    .contact-body .contact-item .icon img {
        height: 130px;
    }

    /* services page  */

    .call-back.ser .call-serv h1 {
        font-size: 30px;
    }

    .call-back.ser .call-serv p {
        font-size: 15px;
    }

    .call-back.ser a {
        text-align: center;
        padding: 15px;
    }
}