#header{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
}

.header-items{
    display: grid;
    grid-template-columns: .80fr 1.20fr;
    width: 100%;
    padding: 15px 7vw;
    background: #b70000;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.header-contact{
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
}

.header-contact li{
    list-style: none;
    position: relative;
}

.header-contact li::before {
    content: '';
    position: absolute;
    right: -50px;
    bottom: 50%;
    width: 50px;
    height: 1px;
    background: #c8c8c8;
    transform: rotate(115deg);
    opacity: .75;
}

.header-contact li::before:nth-child(3){
    height: 0;
}

.header-contact li i{
    margin-right: 10px;
    font-size: 16px;
}

.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 25px 7vw;
    color: #2c2c2c;
    font-size: 16px;
}

.navbar .logo{
    width: 250px;
    height: 50px;
}

.navbar .logo img{
    width: 100%;
    height: 100%;
}

.navbar .links-container{
    display: flex;
}

.navbar .links-container ul{
    display: flex;
    list-style: none;
}

.links{
    padding: 0 10px;
    color: #2c2c2c;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
}

.links.active{
    color: #b70000;
}

.links.active::before,
.links:hover::before{
    content: '';
    position: absolute;
    width: 20%;
    height: 3px;
    left: 50%;
    margin: auto;
    border-radius: 1px;
    bottom: -10px;
    background: #020258;
    transform: translate(-50%, -50%);
}

.quick-media{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 50px;
    right: 30px;
    font-size: 60px;
    color: green;
    opacity: .6;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    z-index: 999;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.quick-media p{
    opacity: 1 !important;
    font-size: 15px;
    font-weight: 600;
}

.quick-media:hover,
.quick-media:focus{
    opacity: 1;
}

@media (max-width: 996px){
    html{
        font-size: 14px;
    }
    /* toggle btn */
    .toggle-btn{
        position: absolute;
        width: 40px;
        height: 40px;
        right: 10vw;
        cursor: pointer;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .toggle-btn span{
        position: absolute;
        width: 100%;
        height: 2px;
        background: #1d1d1d;
        top: 30%;
        transition: .5s;
        z-index: 999;
    }

    .toggle-btn span:nth-child(2){
        top: 50%;
    }

    .toggle-btn span:nth-child(3){
        top: 70%;
    }

    .toggle-btn.active span:nth-child(1){
        top: 50%;
        transform: rotate(45deg);
    }
    .toggle-btn.active span:nth-child(3){
        top: 50%;
        transform: rotate(-45deg);
    }
    .toggle-btn.active span:nth-child(2){
        display: none;
    }

    .header-items {
        grid-template-columns: 1fr;
    }

    .header-contact {
        display: none;
    }

    /* links */
    .links-container ul{
        position: absolute;
        top: 50px;
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0, 0.8);
        width: 40%;
        left: 0;
        padding: 0 10vw;
        flex-direction: column;
        transition: .5s;
        opacity: 0;
        pointer-events: none;
        z-index: 999;
    }
    .links-container.show ul{
        opacity: 1;
        pointer-events: all;
    }
    .links{
        margin-left: auto;
        text-align: center;
        display: block;
        height: 50px;
        padding-top: 10px;
        font-weight: 700;
        color: #fff;
    }

    .links.active::before,
    .links:hover::before{
        bottom: 10px;
    }

}


@media (max-width: 500px){
    .quick-media {
        right: 0px;
        font-size: 50px;
    }
    .links-container ul {
        width: 70%;
    }
}